/*CSS document*/

body {
        background-color: rgb(255, 249, 222)
}

a,p {
    text-decoration: none;
    font-family: interstate, sans-serif;
    color: rgb(0, 0, 0)
}

figcaption{
    font-family: interstate, sans-serif;
    font-style: italic;
    font-size: 10pt
    
}

aside{
    width: 30%;
}
div.container {
    max-width: 45em;
    margin: auto;
}

figure {
    margin: 0;
}

.logo{
    width: 50%;
    margin: auto;
}

img {
    width: 100%;
    border-radius: 15px
}

ul {
    list-style-type: none;
    padding: 0;
} s



